</main>

<footer class="site-footer">
    <p>copyright</a> by Sumit Kumar. Last built {{ now.Format "January" }} {{ now.Format "2" | humanize }}, {{ now.Format "2006" }}.</p>
    <p>View the source code <a href="https://github.com/sumonelove/sumonelove.in/" target="_blank" rel="noopener noreferrer">on GitHub</a>.</p>

    <ul class="menu menu-social">
      {{ range.Site.Menus.social -}}
      <li>
        <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">
          {{ partial "icon.html" (dict "icon" .Pre "title" .Name ) }}
        </a>
      </li>
      {{- end }}
    </ul>
</footer>

</body>
</html>
